server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
#      routes:
#        - id: workflow-service
#          uri: lb://workflow-service
#          predicates:
#            - Path=/api/workflow/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health
      cors:
        allowed-origins: "http://localhost:5173"
        allowed-methods: GET
